<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

    <title>Home Page</title>

    <link href="./static/main.d8e0d294.css" rel="stylesheet">
</head>

<body class="">

    <!-- Add your content of header -->
    <div class="background-color-layer" style="background-image: url('./static/assets/images/bwbrz.jpg')"></div>
    <main class="content-wrapper">
        <header class="white-text-container section-container">
            <div class="text-center">
                <h1>I am Nathaniel Lewis</h1>
                <p>Software Developer</p>
                <p>
                    <!-- <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
                        <i class="fa fa-facebook"></i>
                    </a> -->
                    <!-- <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
                        <i class="fa fa-twitter"></i>
                    </a> -->
                    <!-- <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
                        <i class="fa fa-dribbble"></i>
                    </a> -->
                    <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/nathaniel-l-99267a83/" title="">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="fa-icon fa-icon-2x" href="https://github.com/n-lewis" title="">
                        <i class="fa fa-github"></i>
                    </a>
                    <!-- <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
                        <i class="fa fa-vimeo"></i>
                    </a> -->
                </p>
            </div>
        </header>



        <!-- Add your site or app content here -->

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="card">
                        <div class="card-block">
                            <h2>Alert</h2>
                            <div class="row">
                                {% for message in messages %}
                                <div class="col-md-8">
                                    <p>{{ message }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% block body %}{% endblock %}

                    <div class="card">
                        <div class="card-block">
                            <h2>About me</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <p><img src="./static/assets/images/profile.png" class="img-responsive" alt=""></p>
                                </div>
                                <div class="col-md-8">

                                    <p>I am a recent graduate with a few internships and field related work under my
                                        belt. I am always looking for new opportunities to help expand my knowledge base
                                        for future employment.
                                    </p>
                                    <p>Hoping to use this portfolio to show off some of the projects I have worked on.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Projects</h2>
                            <div class="row">
                                <!-- <div class="col-md-4">
                                    <a href="https://github.com/n-lewis/" title="" target="_blank" rel="noopener noreferrer"><img
                                            src="./static/assets/images/.jpg" class="img-responsive" alt=""></a>
                                    <small class="date"></small>
                                    <h3 class="h5"></h3>
                                    <p></p>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <a href="https://github.com/n-lewis/Portfolio" title="Github BDO Guild Manager" target="_blank" rel="noopener noreferrer"><img
                                            src="./static/assets/images/bdoguildmanager.jpg" class="img-responsive"
                                            alt=""></a>
                                    <img src="./static/assets/images/bdoguildmanager.jpg" class="img-responsive" alt="">
                                    <small class="date">November 2019 - Current</small>
                                    <h3 class="h5">BDO Guild Manager</h3>
                                    <p>A web application designed to centralize the guild management for
                                        Black Desert Online.</p>
                                </div> -->
                                <div class="col-md-4">
                                    <a href="https://github.com/n-lewis/Portfolio" title="Github Portfolio"
                                        target="_blank" rel="noopener noreferrer"><img
                                            src="./static/assets/images/portfolio.jpg" class="img-responsive"
                                            alt=""></a>
                                    <small class="date">November 2019</small>
                                    <h3 class="h5">Portfolio Website</h3>
                                    <p>This website which is a single page flask app.</p>
                                </div>
                                <div class="col-md-4">
                                    <a href="https://github.com/n-lewis/Capstone-WSUV18-19" title="Github Capstone"
                                        target="_blank" rel="noopener noreferrer"><img
                                            src="./static/assets/images/capstone.jpg" class="img-responsive" alt=""></a>
                                    <small class="date">August 2018 - May 2018</small>
                                    <h3 class="h5">Capstone</h3>
                                    <p>My senior project that I worked on with four others. This was in collaboration
                                        with Hewlett Packard.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Languages</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Python <small>Proficient</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">JavaScript <small>Proficient</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Java <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">C <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">SQL <small>Proficient</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">HTML <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">CSS <small>Familiar</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-block">
                            <h2>Technologies</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Docker <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Git <small>Proficient</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">RESTful API <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Express <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Threejs <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">NGINX <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Tomcat <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Vue <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">Linux <small>Familiar</small></h3>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="language-experience">
                                        <h3 class="h5">OSX <small>Proficient</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Experience</h2>
                            <div class="work-experience">
                                <small class="date">August 2018 - May 2018</small>
                                <h3 class="h5 date-title">Capstone - WSUV</h3>

                                <ul>
                                    <li>Developed a web application for HP PrintOS marketplace as a member of a 5 man
                                        team</li>
                                    <li>Facilitated all project communication (technical and status) with the HP
                                        sponsors</li>
                                    <li>Integrated with <b>Java</b> backend to handle HP ID / PrintOS authentication and
                                        authorization</li>
                                    <li>Built <b>Express</b> backend for PDF upload and database interaction using a
                                        <b>RESTful API</b> pattern</li>
                                    <li>Interfaced with <b>MySQL</b> database contained image metadata from user
                                        uploaded PDF’s
                                    </li>
                                    <li>Led development of PDF visualization using <b>Threejs</b> to render 3D objects,
                                        integrated with <b>Vue</b> frontend</li>
                                </ul>
                            </div>

                            <div class="work-experience">
                                <small class="date">June 2017 - August 2017</small>
                                <h3 class="h5 date-title">Summer Internship - Hewlett
                                    Packard</h3>

                                <ul>
                                    <li>Overhauled HP test software for the printer manufacturing line to include
                                        gamification</li>
                                    <li>Used <b>Python</b> and <b>Visual Basic</b> to create a competitive leaderboard
                                        for the operators</li>
                                    <li>Created <b>SQL</b> queries for data extraction and aggregation across large
                                        datasets</li>
                                </ul>
                            </div>

                            <div class="work-experience">
                                <small class="date">May 2016 - August 2016</small>
                                <h3 class="h5 date-title">Tester I - Pactera</h3>

                                <ul>
                                    <li>Tested prototype printers</li>
                                    <li>Wrote detailed error reports for R&D engineers and helped track printer life
                                        expectancy</li>
                                </ul>
                            </div>

                            <div class="work-experience">
                                <small class="date">June 2015 - August 2015</small>
                                <h3 class="h5 date-title">Operator I - LionBridge</h3>

                                <ul>
                                    <li>Tested prototype printers</li>
                                    <li>Ran special tests on prototype printers tracking specific metrics for engineers
                                    </li>
                                </ul>
                            </div>

                            <div class="work-experience">
                                <small class="date">July 2013 - September 2013</small>
                                <h3 class="h5 date-title">High School Summer Internship - Hewlett Packard</h3>

                                <ul>
                                    <li>Built a test suite for Jenkins and manually tracked usage data for application
                                        metricsn</li>
                                    <li>Developed <b>Ruby</b> test suite to test core functionality of mobile
                                        application for deployment </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>References</h2>
                            <div class="work-experience">
                                <small class="date">Distinguished Technologist, Chief Technology Office, HP</small>
                                <h3 class="h5 date-title">David Staas</h3>

                                <p>To Whom it May Concern:</p>
                                <p>I am writing to recommend Nate as a member of your team. I was the mentor for
                                    Nate’s Capstone project in his senior year at Washington State University in
                                    Vancouver. This project is a chance for seniors to work as a team on a project
                                    in conjunction with local companies. Nate and his team worked together on a
                                    cloud-based application we selected.</p>
                                <p>Nate quickly emerged as the natural leader of the team. His team proactively
                                    sought out learning new technologies such as Docker and Kubernetes as part of
                                    the project. In addition, Nate and the team implemented critical security
                                    features in the application and worked closely with us on the architecture and
                                    deployment.</p>
                                <p>We met regularly as the project developed and I was very pleased with the
                                    progress the team showed throughout the year. I think Nate’s technical
                                    capabilities and leadership style would make a great addition to a technical
                                    team seeking modern application development and security skills and I highly
                                    recommend him.</p>
                                <p>Regards,</p>
                                <p>David Staas</p>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-block">
                            <h2>Education</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="education-experience">
                                        <small class="date">August 2015 - May 2019</small>
                                        <h3 class="h5 date-title">Bachelor in Science in Computer Science</h3>
                                        <p>Washington State University Vancouver</p>
                                        <p>Major GPA of 3.35</p>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="education-experience">
                                        <small class="date">2013-2015</small>
                                        <h3 class="h5 date-title">General Associates of Arts</h3>
                                        <p>Clark College - Running Start</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card">
                        <div class="card-block">
                            <h2>Projects</h2>
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


                                Wrapper for slides
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="./static/assets/images/img-05.jpg" class="img-responsive" alt="...">
                                        <div class="carousel-caption">
                                            <h3 class="h5">Jules for Bastion</h3>
                                            <p>2017</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="./static/assets/images/img-06.jpg" class="img-responsive" alt="...">
                                        <div class="carousel-caption">
                                            <h3 class="h5">Jules for Bastion</h3>
                                            <p>2017</p>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <img src="./static/assets/images/img-08.jpg" class="img-responsive" alt="...">
                                        <div class="carousel-caption">
                                            <h3 class="h5">Jules for Bastion</h3>
                                            <p>2017</p>
                                        </div>
                                    </div>
                                </div>

                                Indicators
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="card">
                        <div class="card-block">
                            <h2>Social Network</h2>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="social-buttons"><a href="https://twitter.com/" title=""><span
                                                class="social-round-icon fa-icon"><i
                                                    class="fa fa-twitter"></i></span>@David_Folley</a></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="social-buttons"><a href="https://www.linkedin.com/" title=""><span
                                                class="social-round-icon fa-icon"><i
                                                    class="fa fa-linkedin"></i></span>David Folley</a></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="social-buttons"><a href="https://dribbble.com/" title=""><span
                                                class="social-round-icon fa-icon"><i
                                                    class="fa fa-dribbble"></i></span>David Folley</a></p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="card">
                        <div class="card-block">
                            <h2>Contact</h2>
                            <form action="submit_form" method="post" class="reveal-content">
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control" id="email"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input name="subject" type="text" class="form-control" id="subject"
                                        placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="5"
                                        placeholder="Enter your message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class=" btn btn-primary">Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>
    <footer class="footer-container white-text-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/nathaniel-l-99267a83/" title="">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="fa-icon fa-icon-2x" href="https://github.com/n-lewis" title="">
                            <i class="fa fa-github"></i>
                        </a>
                    </p>

                    <p><a href="http://www.mashup-template.com/" title="Create website with free html template"><img
                                src="./static/assets/images/mashup-icon.svg" alt=""></a></p>

                    <!-- <p>©All right reserved. Design <a href="http://www.mashup-template.com/"
                            title="Create website with free html template">Mashup Template</a>/<a
                            href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p> -->

                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            scrollRevelation('.card');
        });
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.bc58148c.js"></script>
</body>

</html>